GaragesClient/Connected Services/ServiceWebAPI/GarageWebAPIService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns0="http://web/" targetNamespace="http://web/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="deleteAllCars" />
  <xsd:complexType name="deleteAllCarsResponse" />
  <xsd:complexType name="deleteAllGarages" />
  <xsd:complexType name="deleteAllGaragesResponse" />
  <xsd:complexType name="deleteAllOwners" />
  <xsd:complexType name="deleteAllOwnersResponse" />
  <xsd:complexType name="deleteCarById">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="xsd:long" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="deleteCarByIdResponse" />
  <xsd:complexType name="deleteGarageById">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="xsd:long" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="deleteGarageByIdResponse" />
  <xsd:complexType name="deleteOwnerById">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="xsd:long" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="deleteOwnerByIdResponse" />
  <xsd:complexType name="findAllCars" />
  <xsd:complexType name="findAllCarsResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns0:carDto" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="findAllGarages" />
  <xsd:complexType name="findAllGaragesResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns0:garageDto" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="findAllOwners" />
  <xsd:complexType name="findAllOwnersResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns0:ownerDto" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="findCarById">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="xsd:long" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="findCarByIdResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:carDto" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="findGarageById">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="xsd:long" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="findGarageByIdResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:garageDto" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="findOwnerById">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="xsd:long" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="findOwnerByIdResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:ownerDto" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="garagesDetailsInfo" />
  <xsd:complexType name="garagesDetailsInfoResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns0:garageDto" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getFilterInfoTotal">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="xsd:string" />
      <xsd:element minOccurs="0" name="arg1" type="xsd:string" />
      <xsd:element minOccurs="0" name="arg2" type="xsd:string" />
      <xsd:element minOccurs="0" name="arg3" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getFilterInfoTotalResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns0:infoTotalDto" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getInfoTotal" />
  <xsd:complexType name="getInfoTotalResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns0:infoTotalDto" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="persistCar">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:carDto" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="persistCarResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="persistGarage">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:garageDto" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="persistGarageResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="persistOwner">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:ownerDto" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="persistOwnerResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="updateCar">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:carDto" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="updateCarResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="updateGarage">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:garageDto" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="updateGarageResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="updateOwner">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:ownerDto" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="updateOwnerResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="carDto">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="garageId" type="xsd:long" />
      <xsd:element minOccurs="0" name="id" type="xsd:long" />
      <xsd:element minOccurs="0" name="kilometrage" type="xsd:int" />
      <xsd:element minOccurs="0" name="model" type="xsd:string" />
      <xsd:element minOccurs="0" name="ownerId" type="xsd:long" />
      <xsd:element minOccurs="0" name="registrationNumber" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="garageDto">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="address" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="cars" nillable="true" type="ns0:carDto" />
      <xsd:element minOccurs="0" name="id" type="xsd:long" />
      <xsd:element minOccurs="0" name="maxCars" type="xsd:int" />
      <xsd:element minOccurs="0" name="serialNumber" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ownerDto">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="cars" nillable="true" type="ns0:carDto" />
      <xsd:element minOccurs="0" name="contactPhone" type="xsd:string" />
      <xsd:element minOccurs="0" name="firstName" type="xsd:string" />
      <xsd:element minOccurs="0" name="id" type="xsd:long" />
      <xsd:element minOccurs="0" name="lastName" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="infoTotalDto">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="carModel" type="xsd:string" />
      <xsd:element minOccurs="0" name="carRegistrationNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="garageAddress" type="xsd:string" />
      <xsd:element minOccurs="0" name="garageSerialNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="ownerFirstName" type="xsd:string" />
      <xsd:element minOccurs="0" name="ownerLastName" type="xsd:string" />
      <xsd:element minOccurs="0" name="ownerPhoneNumber" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="deleteAllCars" type="ns0:deleteAllCars" />
  <xsd:element name="deleteAllCarsResponse" type="ns0:deleteAllCarsResponse" />
  <xsd:element name="deleteAllGarages" type="ns0:deleteAllGarages" />
  <xsd:element name="deleteAllGaragesResponse" type="ns0:deleteAllGaragesResponse" />
  <xsd:element name="deleteAllOwners" type="ns0:deleteAllOwners" />
  <xsd:element name="deleteAllOwnersResponse" type="ns0:deleteAllOwnersResponse" />
  <xsd:element name="deleteCarById" type="ns0:deleteCarById" />
  <xsd:element name="deleteCarByIdResponse" type="ns0:deleteCarByIdResponse" />
  <xsd:element name="deleteGarageById" type="ns0:deleteGarageById" />
  <xsd:element name="deleteGarageByIdResponse" type="ns0:deleteGarageByIdResponse" />
  <xsd:element name="deleteOwnerById" type="ns0:deleteOwnerById" />
  <xsd:element name="deleteOwnerByIdResponse" type="ns0:deleteOwnerByIdResponse" />
  <xsd:element name="findAllCars" type="ns0:findAllCars" />
  <xsd:element name="findAllCarsResponse" type="ns0:findAllCarsResponse" />
  <xsd:element name="findAllGarages" type="ns0:findAllGarages" />
  <xsd:element name="findAllGaragesResponse" type="ns0:findAllGaragesResponse" />
  <xsd:element name="findAllOwners" type="ns0:findAllOwners" />
  <xsd:element name="findAllOwnersResponse" type="ns0:findAllOwnersResponse" />
  <xsd:element name="findCarById" type="ns0:findCarById" />
  <xsd:element name="findCarByIdResponse" type="ns0:findCarByIdResponse" />
  <xsd:element name="findGarageById" type="ns0:findGarageById" />
  <xsd:element name="findGarageByIdResponse" type="ns0:findGarageByIdResponse" />
  <xsd:element name="findOwnerById" type="ns0:findOwnerById" />
  <xsd:element name="findOwnerByIdResponse" type="ns0:findOwnerByIdResponse" />
  <xsd:element name="garagesDetailsInfo" type="ns0:garagesDetailsInfo" />
  <xsd:element name="garagesDetailsInfoResponse" type="ns0:garagesDetailsInfoResponse" />
  <xsd:element name="getFilterInfoTotal" type="ns0:getFilterInfoTotal" />
  <xsd:element name="getFilterInfoTotalResponse" type="ns0:getFilterInfoTotalResponse" />
  <xsd:element name="getInfoTotal" type="ns0:getInfoTotal" />
  <xsd:element name="getInfoTotalResponse" type="ns0:getInfoTotalResponse" />
  <xsd:element name="persistCar" type="ns0:persistCar" />
  <xsd:element name="persistCarResponse" type="ns0:persistCarResponse" />
  <xsd:element name="persistGarage" type="ns0:persistGarage" />
  <xsd:element name="persistGarageResponse" type="ns0:persistGarageResponse" />
  <xsd:element name="persistOwner" type="ns0:persistOwner" />
  <xsd:element name="persistOwnerResponse" type="ns0:persistOwnerResponse" />
  <xsd:element name="updateCar" type="ns0:updateCar" />
  <xsd:element name="updateCarResponse" type="ns0:updateCarResponse" />
  <xsd:element name="updateGarage" type="ns0:updateGarage" />
  <xsd:element name="updateGarageResponse" type="ns0:updateGarageResponse" />
  <xsd:element name="updateOwner" type="ns0:updateOwner" />
  <xsd:element name="updateOwnerResponse" type="ns0:updateOwnerResponse" />
</xsd:schema>